<!-- <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/044.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This content is a little bit longer.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/043.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/042.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a wider card with supporting text below as a natural lead-in to
            additional content. This card has even longer content than the first to show
            that equal height action.
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div> -->
  


<!-- <div class="text-center">
    <img src="https://i.postimg.cc/K8nnXdK1/202347.gif" alt="">

</div> -->
<body>
  <!-- <header>
      <div class="nav-wrapper">
          <div class="logo-container">
              <img class="logo" src="https://i.postimg.cc/SsCqMkzk/online-shopping-bag-icon-laptop-sign-cart-185404939.jpg" alt="Logo">
         &nbsp;&nbsp; <h2 style="color: blue;">GAMI5</h2>
          </div>
          <nav>
              <input class="hidden" type="checkbox" id="menuToggle">
              <label class="menu-btn" for="menuToggle">
                  <div class="menu"></div>
                  <div class="menu"></div>
                  <div  class="menu"></div>
              </label>
              <div class="nav-container">
                  <ul class="nav-tabs">
                      <li class="nav-tab" routerLink="">Home</li>
                      <li class="nav-tab">Services</li>
                      <li class="nav-tab">FAQ</li>
                      <li class="nav-tab" routerLink="/contactus">Contact</li>
                  </ul>
              </div>
          </nav>
      </div>
  </header> -->
  <div class="center"> 
      <h1 style= " font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; background-color: rgb(180, 210, 30) ; margin-top: -20px;">GAMINGS</h1>
  </div> 
</body>

<br>
<!-- ----------------------------------------------------------------------------------------------------------- -->
<div class="card bg-dark text-white">
  <img class="card-img" src="https://i.postimg.cc/pVzP6J8W/Tdk-solutions-shopping-in-Nairobi-Kenya.gif" alt="Card image">

</div>


<br>








<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/K8nnXdK1/202347.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">MSI Alpha 15 AMD</h2><br>
          <p class="card_text">Ryzen 7 Octa Core 5800H - (8 GB/512 GB SSD/Windows 11 Home/8 GB Graphics/AMD Radeon RX 6600M/144 Hz) Alpha 15 AMD Advantage Edition B5EEK-235IN Gaming Laptop  (15.6 inch, Black, 2.35 kg)</p>
          <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/vZD6rTrr/asus-asus-tuf-1.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">ASUS TUF Gaming F15</h2><br>
          <p class="card_text">Core i5 10th Gen - (8 GB/512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDIA GeForce GTX 1650/144 Hz) FX506LHB-HN355W Gaming Laptop  (15.6 inch, Black Plastic, 2.30 Kg)</p>
          <br><button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/Yqjp8s9F/lenovo-lenovo-ideapad.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">Lenovo IdeaPad Gaming 3</h2><br>
          <p class="card_text">Ryzen 7 Octa Core AMD R7-5800H - (8 GB/512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDIA GeForce RTX 3050) IdeaPad Gaming3 15ACH6D2 Gaming Laptop  (15.6 inch, Shadow Black, 2.25 Kg, With MS Office)</p>
          <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/SNKpNVtD/90a54372602805-5becb7cf76776.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">HP OMEN </h2><br>
          <p class="card_text">Ryzen 7 Octa Core AMD R7-6800H - (16 GB/512 GB SSD/Windows 11 Home/8 GB Graphics/AMD Radeon RX 6650M/144 Hz) 16-n0079AX Gaming Laptop  (16.1 inch, Mica Silver, 2.32 kg, With MS Office)</p>
         <br> <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/t4HtNmQz/download.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">ASUS ROG Strix G15</h2> <br>

          <p class="card_text"> Ryzen 7 Octa Core AMD R7-4800H - (8 GB/512 GB SSD/Windows 11 Home/4 GB Graphics/NVIDIA GeForce RTX RTX 3050/144 Hz) G513IC-HN025W Gaming Laptop  (15.6 Inch, Eclipse Gray, 2.10 Kg)</p>
         <br> 
         <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/d153vTx0/Last-Gargantuan-Dodobird-size-restricted.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">Acer Nitro 5 </h2> <br>
          <p class="card_text">Ryzen 7 Octa Core AMD R7-5800H - (16 GB/1 TB HDD/256 GB SSD/Windows 10 Home/6 GB Graphics/NVIDIA GeForce RTX 3060/144 Hz) AN515-45/ AN515-45-R2GL Gaming Laptop  (15.6 inch, Black, 2.4 kg</p>
          <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>



    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/xCTzvjrq/1-i-O7p-N-Ym9f-Ajl-L7s-FHl4w.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">APPLE 2022 MacBook AIR M2 </h2> <br>
          <p class="card_text">
            APPLE 2022 MacBook AIR M2 - (8 GB/256 GB SSD/Mac OS Monterey) MLY33HN/A  (13.6 Inch, Midnight, 1.24 Kg)          </p><br><br>
          <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>



    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/wxPdYWjG/Samsung-Galaxy-Book-Pro-360-Navy-Blue.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;">Samsung </h2> <br>
          <p class="card_text">
            Samsung Galaxy Book2 Pro 360 Convertible Laptop (Intel EVO 12th Gen i5 Processor/16 GB RAM/512 GB/Intel Iris Xe Graphics/Windows 11 Home), 13.3 inch (33.782 cm), Silver     </p><br>
          <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>



    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://i.postimg.cc/fW9MgrST/original.gif"></div>
        <div class="card_content">
          <h2 class="card_title" style="color: black;"> CyberpowerPC Gamer Xtreme  </h2> <br>
          <p class="card_text">
            CyberpowerPC Gamer Xtreme VR Gaming PC, Intel Core i5-9400F 2.9GHz, NVIDIA GeForce GTX 1660 6GB, 8GB DDR4, 120GB SSD, 1TB HDD, WiFi Ready & Win 10 Home (GXiVR8060A7, Black)          </p>
        <br>  <button class="btn card_btn" (click)="buy()">GO TO STORE</button>
        </div>
      </div>
    </li>
  </ul>
</div>


<!-- ----------------------------------------------------------------------------------------------------------- -->


