<!-- <body>
    <header>
        <div class="nav-wrapper">
            <div class="logo-container">
                <img class="logo" src="https://i.postimg.cc/SsCqMkzk/online-shopping-bag-icon-laptop-sign-cart-185404939.jpg" alt="Logo">
           &nbsp;&nbsp; <h2 style="color: blue;">GAMI5</h2>
            </div>
            <nav>
                <input class="hidden" type="checkbox" id="menuToggle">
                <label class="menu-btn" for="menuToggle">
                    <div class="menu"></div>
                    <div class="menu"></div>
                    <div  class="menu"></div>
                </label>
                <div class="nav-container">
                    <ul class="nav-tabs">
                        <li class="nav-tab">Home</li>
                        <li class="nav-tab" routerLink="/allproducts"> Gaming Products</li>
                        <li class="nav-tab" routerLink="/product">Store</li>
                        <li class="nav-tab" routerLink="/contactus">Contact</li>
                        <li class="nav-tab">Login</li>

                        <li class="nav-tab">Register</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <div class="center"> 
        <h1>LAPTOPS</h1>
    </div> 
</body> -->

<!-- ----------------------------------------------------------------------------------------------------------- -->

<div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://i.postimg.cc/6QvbthP1/z-Zamk2n-Fiipzh-CQWb-WWt-GF.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2 style="font-family: cursive;">Samsung</h2>
          <p>Samsung Galaxy Book2 Pro 360 </p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/FHXrgP4h/desktop-wallpaper-victus-by-hp-16-aims-to-make-gaming-more-accessible-with-rtx-3060-and-rx-5500m-cho.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="font-family: cursive;">HP</h4>
          <p>Victus by HP</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.postimg.cc/76ktK2LG/m1-chip-macbook-air-pro.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="font-family: cursive;">APPLE</h4>
          <p>Apple M1 MacBook Air</p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://i.postimg.cc/nzPSKwN2/wp4346713.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="font-family: cursive;">ASUS</h4>
          <p>Asus Rog </p>
        </div>
      </div>

      <div class="carousel-item">
        <img src="https://i.postimg.cc/T1tJrk10/689814.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h4 style="font-family: cursive;">MSI</h4>
          <p>Msi GS60 Ghost Pro </p>
        </div>
      </div>


    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>


<br>
<!-- ----------------------------------------------------------------------------------------------------------------------------------- -->
<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" >
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/25nQtsh6/original-imag3ebnzawky4kn.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">ASUS VivoBook 15 (2022) </h5>
          <p class="card-text">
            Core i3 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) X515JA-EJ362WS | X515JA-EJ392WS Thin and Light Laptop  (15.6 inch, Transparent Silver, 1.80 kg, With MS Office)
          </p>
        </div>
        <div class="card-footer">
          <span class="tag">₹32,990</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/8kY7hyfn/a314-22-laptop-acer-original-imagbz2phdbkb5hz.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <br><div class="card-body">
          <h5 class="card-title">ACER Aspire 3</h5>
          <p class="card-text"> Dual Core 3020e - (4 GB/256 GB SSD/Windows 11 Home) A314-22 Laptop  (14 Inch, Charcoal Black, 1.9 kg)</p>
        </div>
        <div class="card-footer">
          <span class="tag">₹24,990</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/85Jj3Wqb/galaxy-book2-plastic-thin-and-light-laptop-samsung-original-imaghkp8vquukfer.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title">SAMSUNG</h5>
          <p class="card-text">
            Core i5 12th Gen - (16 GB/512 GB SSD/Windows 11 Home) NP550 Thin and Light Laptop  (15.6 Inch, Graphite, 1.80 Kg, With MS Office)
          </p>
        </div>

        <div class="card-footer">
          <span class="tag">₹63,990</span>
        </div>
      </div>
    </div>
  </div>


<br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/dQgfZywc/inspiron-3511-laptop-dell-original-imagfycr2mnxrggg.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">DELL </h5>
          <p class="card-text">
            DELL Inspiron Core i3 11th Gen - (8 GB/1 TB HDD/256 GB SSD/Windows 11 Home) D560841WIN9S Thin and Light Laptop  (15.6 inch, Silver, With MS Office)          </p>
        </div>
        <div class="card-footer">
          <span class="tag">₹42,490</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/XJ4jbz1x/apple-macbook-air-m1-13-3-inch-lightwings-original-imag3gh5xftgbpg3.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
        <br><div class="card-body">
          <h5 class="card-title">APPLE</h5>
          <p class="card-text">APPLE 2020 Macbook Air M1 - (8 GB/256 GB SSD/Mac OS Big Sur) MGN63HN/A  (13.3 inch, Space Grey, 1.29 kg)</p>
        </div>
        <div class="card-footer">
          <span class="tag">₹86,990</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100"style="background-color: aqua;"> 
        <img src="https://i.postimg.cc/MpYxYDpQ/rmnb1001-thin-and-light-laptop-realme-original-imag5zhgw27k4tbb.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
         <br> <h5 class="card-title">Realme</h5>
          <p class="card-text">
            realme Book(Slim) Intel Evo Core i5 11th Gen - (8 GB/512 GB SSD/Windows 10 Home) RMNB1002 Thin and Light Laptop  (14 inch, Real Gray, 1.38 kg, With MS Office)          </p>
        </div>

        <div class="card-footer">
          <span class="tag">₹59,990</span>
        </div>
      </div>
    </div>
  </div>



<br>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col" >
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/fLNh0zpD/original-imagf39qgu4qjmgk.webp" class="card-img-top" alt="Skyscrapers"/>
        <div class="card-body">
          <h5 class="card-title">Infinix </h5>
          <p class="card-text">
            Infinix X1 Slim Series Core i5 10th Gen - (8 GB/512 GB SSD/Windows 11 Home) XL21 Thin and Light Laptop  (14 Inch, Aurora Green, 1.24 kg)          </p>
        </div>
        <div class="card-footer">
          <span class="tag">₹38,990</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/kGC1cDvX/na-thin-and-light-laptop-nokia-original-imag77fgvdj4fv8e.webp" class="card-img-top" alt="Los Angeles Skyscrapers"/>
       <br> <br><div class="card-body">
          <h5 class="card-title"> Nokia PureBook S14</h5>
          <p class="card-text"> 
            Nokia PureBook S14 Core i5 11th Gen - (8 GB/512 GB SSD/Windows 11 Home) NKi511TL85S Thin and Light Laptop  (14 inch, Black, 1.4 KG)          </p>
        </div>
        <div class="card-footer">
          <span class="tag">₹47,990</span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100" style="background-color: aqua;">
        <img src="https://i.postimg.cc/WpfSz9Q1/e15-amd-thin-and-light-laptop-vaio-original-imagf9eabsnxzcfb.webp" class="card-img-top" alt="Palm Springs Road"/>
        <div class="card-body">
          <h5 class="card-title"> Vaio E Series</h5>
          <p class="card-text">
            Vaio E Series Ryzen 7 Quad Core 3700U - (8 GB/512 GB SSD/Windows 10 Home) NE15V2IN026P Thin and Light Laptop  (15.6 inch, Black, 1.77 kg, With MS Office)          </p>
        </div>

        <div class="card-footer">
          <span class="tag">₹52,890</span>
        </div>
      </div>
    </div>
  </div>











<br><br>
<!-- ----------------------------------------------------------------------------------------------------------- -->

