<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5 text-white">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{productdata.productImg}}" alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1" style="color: black; font-size: larger;">Product id: {{productdata.id}}</div>
                <h1 class="display-5 fw-bolder" style="color: rgb(43, 0, 255);">{{productdata.productName}}</h1>
                <div class="fs-5 mb-5">
                    <h3 style="color: crimson;">
                        <span class="">Price : {{productdata.price}}</span><br>
                        
                    <span>Rating : {{productdata.rating}}</span><br>
                    <span>Review : {{productdata.review}}</span>

                    </h3>

                </div>
                <p class="lead">
                    <b style="color: rgb(9, 9, 9);"><i>{{productdata.description}} </i></b>               </p>
                <div class="d-flex">
                    
  <a class="rainbow rainbow-1" style="text-decoration: NONE;" href="product/edit-product/{{productdata.id}}">EDIT</a> &nbsp;&nbsp;

  <a class="rainbow rainbow-2"style="text-decoration: NONE;" href="product/delete-product/{{productdata.id}}">DELETE</a>&nbsp;&nbsp;
  <a class="rainbow rainbow-3"style="text-decoration: NONE;">ADD TO CART</a>
 
    
   
                
            </div>
        </div>
    </div>
<section>