<link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300&display=swap" rel="stylesheet">
<main>
    <div>
  <!-- < class="form"> -->
   <div class="title">
   <h1 id="title" style="color: rgb(242, 242, 13);">CONTACT  US</h1>
   <p id="description" style="color: rgb(255, 255, 255);"><strong>Thank you for taking the time to help us improve the platform</strong></p>
  </div>
   <form id="survey-form">
   
     <label for="name" id="name-label" class="uno" style="color: black;" ><b>NAME</b></label>
     <input type="text" id="name"  placeholder="Enter your name" requiered>
  
     
     <label for="email" id="email-label" class="uno" style="color: black;"><b>E-MAIL</b></label>
     <input type="email" id="email" placeholder="Enter your email"  >
     
     <label for="age" id="number-label" class="uno" style="color: black;"><b>AGE (optional)</b></label>
     <input type="number" id="number" placeholder="Enter your age">
     
     
     
    
  
     
     <p class="uno" style="color: black;"><b>Any comments or suggestions?</b></p>
     <textarea id="message" class="textarea uno" name="message" placeholder="Enter your message here..."></textarea>
     
    
     
     <button type="submit" id="submit" class="submit uno" style="color: green;" (click)="conatct()"><b>Send your application</b></button>
     
   </form>
  </div>
</main>
